.form-control {
  margin-bottom: 1rem;
}

.form-control-invalid {
  margin-bottom: 1rem;
}

.form-control input,
.form-control label {
  display: block;
}

.form-control-invalid input,
.form-control-invalid label {
  display: block;
}

.form-control label {
  margin-bottom: 0.5rem;
}

.form-control-invalid label {
  margin-bottom: 0.5rem;
}

.form-control input {
  font: inherit;
  padding: 0.5rem;
  width: 100%;
  max-width: 95%;
}

.form-control-invalid input {
  font: inherit;
  padding: 0.5rem;
  width: 100%;
  max-width: 95%;
}

.form-control input:focus {
  background-color: #e0d4fd;
}

.form-control-invalid input {
  border: 1px solid #b40e0e;
  background-color: #fddddd;
}

.form-control-invalid input:focus {
  border-color: #ff8800;
  background-color: #fbe8d2;
}

.error-text {
  color: #b40e0e;
}

.form-actions button {
  width: 99%;
  padding: 0.5rem;
  max-width: 100%;
  font: inherit;
  background-color: #41e333;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-actions button:hover,
.form-actions button:active {
  background-color: #83c47d;
}

@media all and (max-width: 969px) {
  .form-control input {
    width: 100%;
    max-width: 95%;
  }

  .form-control-invalid input {
    width: 100%;
    max-width: 95%;
  }

  .form-actions button {
    width: 100%;
  }
}
